Projekt 2/xml/student.dtd

<!ELEMENT Univerzita (fakulta)>

<!ELEMENT fakulta (forma+)>
<!ATTLIST fakulta nazev CDATA #REQUIRED>

<!ELEMENT forma (student*)>
<!ATTLIST forma typ CDATA #REQUIRED>

<!ELEMENT student (jmeno, prijmeni, tel.cislo, StId)>

<!ELEMENT jmeno (#PCDATA)>
<!ELEMENT prijmeni (#PCDATA)>
<!ELEMENT tel.cislo (#PCDATA)>
<!ELEMENT StId (#PCDATA)>